<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @team.name %></title>
  </head>
  <body>
    <h1>Team <%= @team.name %></h1>
    <h1>Team Motto: <%= @team.motto %></h1>
  </body>
</html>
